<head>

  <!-- Meta Information -->
  <title>
    <%= title %>
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/polls.css" />
  <link rel="stylesheet" href="/styles/polls_new.css" />
  <link rel="stylesheet" href="/styles/polls_vote.css" />
  <link rel="stylesheet" href="/styles/polls_results.css" />
  <link rel="stylesheet" href="/styles/thank_you.css" />
  <link rel="stylesheet" href="/styles/error.css" />


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Pompiere&family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap"
    rel="stylesheet">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script defer src="/scripts/app.js"></script>
</head>
