<header>
  <nav>

    <div>
      <span class="logo">ChoiceMate</span>
      <% if (locals.user) { %>
        <a href="/index"> My Polls</a>
        <% } %>
    </div>

    <div>
      <% if (locals.user) { %>
        <span>Welcome <%- user.name %>!</span>
        <a class="action-button" href="/polls/new"><i class="fas fa-plus-square"></i>New Poll</a>
        <%} else { %>
          <a class="action-button" href="/"><i class="fas fa-sign-in-alt"></i> Login</a>
          <a class="action-button" href="/"><i class="fas fa-user-plus"></i> Register</a>
          <% } %>

    </div>




    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls"><i class="fas fa-list"></i> My URLs</a>
        <a class="nav-item nav-link" href="/urls/new"><i class="fas fa-plus-square"></i> Create New URL</a>
      </div>

      <% if (locals.user) { %>

        <span class="ext-capitalize text-light">Welcome <%- user.email %>!&nbsp;</span>
        <form class="form-inline" method="POST" action="/logout">
          <button class=" btn btn-light btn-outline-success my-2 my-sm-0" type="submit"><i
              class="fas fa-sign-out-alt"></i>
            Logout</button>
        </form>

        <%} else { %>
          <a href="/login" class=" btn btn-light mr-1 btn-outline-success" role="button"><i
              class="fas fa-sign-in-alt"></i> Login</a>
          <a href="/register" class=" btn btn-light btn-outline-success" role="button"><i class="fas fa-user-plus"></i>
            Register</a>
          <% } %>


    </div> -->
  </nav>
</header>
