<header>
  <nav>

    <div>
      <span class="logo">ChoiceMate</span>
      <% if (locals.user) { %>
        <a href="/polls"> My Polls</a>
        <% } %>
    </div>

    <div>
      <% if (locals.user) { %>
        <span><%- user.name %></span>
        <a class="action-button" href="/polls/new"><i class="fas fa-plus-square"></i>New Poll</a>
        <a class="action-button" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        <%} else { %>
          <a class="action-button" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
          <a class="action-button" href="/"><i class="fas fa-user-plus"></i> Register</a>
          <% } %>

    </div>

  </nav>
</header>