<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head',{title:'ChoiceMate - Poll Results'}) %>
    <link rel="stylesheet" href="/styles/home.css"/>
  </head>
  <body>
    <%- include('partials/_nav') %>
    <main>
      <div id="welcome">
        <div id="left">
          <section class="rotating-message">
            <div class="sentences">
              <span class="sentence">Who is the best singer?</span>
              <span class="sentence">Where to go on Firday night?</span>
              <span class="sentence">What to have for Dinner?</span>
              <span class="sentence">When can we hangout?</span>
              <span class="sentence">Who is the best singer?</span>
            </div>
          </section>
          <h2>Social decision-making made easy peasy with
            <strong id="change-font">ChoiceMate</strong>.
            <br><br>Create a poll and share with friends.</h2>
          <section class="action-buttons">
            <button type="button">Create Poll</button>
          </section>
        </div>
        <div id="right">
          <section class="images">
              <img src="../images/undraw_Compose_music_re_wpiw.png" alt="singer">
              <img src="../images/undraw_Having_fun_re_vj4h.png" alt="going out">
              <img src="../images/undraw_Eating_together_re_ux62.png" alt="eating dinner">
              <img src="../images/undraw_Lives_matter_38lv.png" alt="hanging out">
              <img src="../images/undraw_Compose_music_re_wpiw.png" alt="singer">
          </section>
        </div>
      </div>
    </main>
  </body>

</html>
