<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head',{title:'ChoiceMate - Poll Results'}) %>
    <link rel="stylesheet" href="/styles/home.css"/>
  </head>
  <body>
    <%- include('partials/_nav') %>
    <main>
      <div class="container">
        <p>Need to choose.. </p>
        <div class="sentences">
          <span class="sentence">What to do on Firday night?</span>
          <span class="sentence">Where to go camspaning this summer?</span>
          <span class="sentence">Who should be in charge of ______ ?</span>
          <span class="sentence">What restaurant to go to for lunch?</span>
          <span class="sentence">anything else</span>
        </div>
      </div>
    </main>
  </body>

</html>
