<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head',{title:'ChoiceMate'}) %>

  <body>

    <div class="polls">
      <h4>Active Polls - X</h4>
      <article class="poll">
        <header>
            <div><h4 id="poll-title">Poll Title</h4></div>
            <div class="right-corner-buttons">
              <button class="results-button">Results</button>
              <button class="complete-button">Complete</button>
            </div>
        </header>

        <footer>
          <span class="date_created">Date created:</span>
          <span class="right-corner-icons">
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-votes"></i>
          </span>
        </footer>
      </article>
      <a href="" class="see-more">See more
  </div>

  </body>

</html>
