<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head',{title:'ChoiceMate'}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/styles/polls.css" />
  <!-- App JS -->
  <script defer src="/scripts/polls.js"></script>

</head>
<%- include('partials/_nav') %>

  <body>

    <div class="polls-container">
      <div class="title">Active Polls - <%= active_polls %></div>
      <div class="polls" id="active-polls">
        <button class="see-more-active">See more</button>
      </div>
    </div>

    <div class="polls-container">
      <div class="title">Completed Polls - <%= completed_polls %></div>
      <div class="polls" id="completed-polls">
        <button class="see-more-completed">See more</button>
      </div>
    </div>

  </body>

</html>
