<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head',{title:'ChoiceMate - Poll Results'}) %>

  <body>
    <%- include('partials/_nav') %>
    <main>
      <h1>Poll Title</h1>
      <p>Total Voters: 10</p>
      <h3>Question</h3>
      <%- for (let option_result of votes_result) { %>
        <div style="background-color: aqua;"></div>
      <%- } %>
    </main>
  </body>

</html>
