//
// Colours
//
$background-primary-color: #FEEFDD;
$background-secondary-color: #F9F0F1;
$nav-color: #C97B84;
$call-to-action-color: #3B97A5;
$complete-btn-color: #A85751;
$lines-color: #201E1F;
$white-color: #ffffff;



//
// Fonts
//

$secondary-font: 'Pompiere', cursive;
$primary-font: 'Source Sans Pro', sans-serif;
