@import "base";

nav {
  position: fixed;
  z-index: 9999;
}

body {
  background-color: $background-primary-color;
  font-family: $primary-font;
  margin-bottom: 4rem;
}

.polls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $primary-font;
  padding-top: 6rem;
  margin-left: 20rem;
  margin-right: 20rem;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.polls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $primary-font;
  margin-top: 1rem;
  margin-bottom: 4rem;
  overflow-wrap: break-word;
}

.active-polls-title, .completed-polls-title  {
  font-size: 24px;
  font-weight: 600;
}

.completed-polls-title {
  margin-top: -4rem;
}

.poll {
  margin-top: 2rem;
  border: solid $lines-color 0.15rem;
  border-radius: 0.3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: $background-secondary-color;

  &:hover {
    box-shadow: 0 0 1rem rgba(33,33,33,.2);
  }
}

.poll > header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-bottom: 1rem;

  .right-corner-icons {
    display: flex;
    justify-content: space-around;
  }

  .results-button {
    color: $white-color;
    border-radius: 0.3rem;
    background-color: $lines-color;
    font-size: large;
  }

  .complete-button {
    color: $white-color;
    border-radius: 0.3rem;
    background-color: $complete-btn-color;
    margin-left: 0.5rem;
    font-size: large;
  }
}

.poll > footer {
  display: flex;
  justify-content: space-between;
  border-top: solid $lines-color 0.15rem;
  padding: 1rem;
  font-size: 1rem;

  .right-corner-icons {
    display: flex;
    align-items: center;

    .share-button {
      background-color: transparent;
      border: none;
    }

    .votes {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      .total-votes {
        margin-left: 0.2rem;
      }
    }

    .fa-share:hover {
      color: $nav-color;
    }

    .fa-user:hover {
      color: $nav-color;
      content: attr(title);
    }
  }
}

.see-more-active, .see-more-completed {
  align-self: flex-start;
  color: $lines-color;
  background-color: transparent;
  margin-top: -2rem;
  margin-bottom: 2rem;
  border: none;

  &:hover {
    color: $nav-color;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0);
  background-color: $background-secondary-color;
  border: solid $lines-color thin;
  margin-top: 0.1rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
  border-color: $lines-color;
  color: $lines-color;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover i {
  color: $nav-color;
}

.copy-notification {
  display: none;
  color: $nav-color;
}

.toggle-button {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  border: 0;
  background-color: transparent;

  &:hover {
    transform: translateY(-0.3rem);
  }

  .fa-circle-chevron-up {
    color: $nav-color;
    opacity: 10;
    font-size: 3.5rem;
  }
}
